/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{

    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}
body{

    display: flex;
    justify-content: center;
}

.board{
    
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(9, 81px); /* 9 columns each */
    grid-template-rows: repeat(9, 88px); /* 9 rows each  */
}

.cell{

    width: 80px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: burlywood;
    text-align: center;
    font-size: 2.3rem;
}

.wrong{

    /* just make the border red */
    border: 5px solid red;
}

.correct{

    border: 5px solid lightblue;
}

